{{!-- Burger show page - Includes burger information and comments --}}

{{!-- Burger photo, name, description and toppings --}}
<div class="id-partial">
    <div class="burger-image-id">
        <img src="{{ image }}" alt="{{ name }}" class="image-id">
    </div>
    <div class="burger-name">
        <a class="burger-link" href="/burger/{{id}}">
        {{ name }}
        </a>
    </div>
    <div class="burger-desc">
        {{ description }}
    </div>
    <div class="toppings">
        <div class="bun">{{ toppings.bun }}</div>
        <div class="meat">{{ toppings.meat }}</div>
        <div class="topping1">{{ toppings.topping1 }}</div>
        <div class="topping2">{{ toppings.topping2 }}</div>
        <div class="topping3">{{ toppings.topping3 }}</div>
        <div class="topping4">{{ toppings.topping4 }}</div>
        <div class="topping5">{{ toppings.topping5 }}</div>
    </div>
</div>

{{!-- Populates comments after they are submitted by the user with delete button --}}
{{#if comments.length}}
  {{#each comments}}
    <div class="comments-list">
      <div class="comments-slide">
        <span class="comment">
          {{ content }}
        </span>
      </div>
      <div class="comments-info-and-actions">
        <span class="comment-date">{{ createdAt }}</span>
        <form class="delete-comment-form" action="/burger/{{id}}?_method=PUT" method="POST">
            <button type="submit" name="button" onClick="deleteComment(id, comment.id)" class="delete-comment-button">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
{{/if}}

{{!-- Form to add a comment --}}
<div class="comment-form">
  <div class="comment-form-slide">
    <h4 class="comment-prompt">Yuck or Yum?</h4>
    <form class="comment-form-form"  action="/burger/{{id}}?_method=PUT" method="POST">
        <p><input type="text" name="content" class="comment-input" placeholder="Leave your comment here!"></p>
        <p><input type="submit" value="Submit" class="comment-submit-button"></p>
    </form>
  </div>
</div>
