<div class="slide-partial">
    <div class="burger-image">
        <img src="{{ image }}" alt="{{ name }}" class="image">
    </div>
    <div class="burger-name">
        <a class="burger-link"
         href="/burger/{{id}}">
        {{ name }}
        </a>
    </div>
    <div class="burger-desc">
        {{ description }}
    </div>
</div>