<div class="card">
    <div class="burger-image">
        <img src={{ image }} alt="burger">
    </div>
    <div class="burger-name">
        <a class="burger-link" href="/burger/{{id}}">
        {{ name }}
        </a>
    </div>
    <div class="burger-desc">
        {{ description }}
    </div>
    <div class="toppings">
        <div class="bun">{{ toppings.bun }}</div>
        <div class="meat">{{ toppings.meat }}</div>
        <div class="topping1">{{ toppings.topping1 }}</div>
        <div class="topping2">{{ toppings.topping2 }}</div>
        <div class="topping3">{{ toppings.topping3 }}</div>
        <div class="topping4">{{ toppings.topping4 }}</div>
        <div class="topping5">{{ toppings.topping5 }}</div>
    </div>
</div>